* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.album {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 70px;
  margin-bottom: 100px;
  border-style: ridge;
  border-color: blue;
}
.album .letter {
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.album img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.album .img1 {
  width: 100%;
  height: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.album .img2 {
  width: 100%;
  height: 60%;
}

.album .text {
  width: 30%;
  border-style: dashed;
}
.album .imgdiv1 {
  width: 30%;
}
.album .imgdiv2 {
  width: 30%;
}
.album .bold {
  font-size: 40px;
  font-weight: 700;
}

.album .space {
  border-top: ridge;
  border-color: rgb(254, 101, 101);
  width: 12vh;
  margin-top: 20px;
  margin-bottom: 20px;
}
.album button {
  font-size: large;
  width: 200px;
  background-color: rgb(253, 80, 80);
  margin-top: 30px;
  padding: 10px;
  border-radius: 30px;
  font-weight: 700;
}

@media (max-width: 2560px) {
  .album .letter {
    font-size: xx-large;
  }
}
@media (max-width: 1440px) {
  .album .letter {
    font-size: larger;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
      sans-serif sans-serif;
  }
}

@media (max-width: 960px) {
  .album {
    display: flex;
    flex-direction: column;
  }
  .album .text {
    width: 100%;
    border-style: dashed;
  }
  .album .imgdiv1 {
    margin-top: 40px;
    width: 100%;
    border-style: dotted;
  }
  .album .imgdiv2 {
    margin-top: 10px;
    width: 100%;
    border-style: dotted;
  }
  .album .img2 {
    width: 100%;
    height: 500px;
  }
  .album .img1 {
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 360px) {
  .album .bold {
    font-size: 20px;
  }
  .album button {
    font-size: 10px;
    width: 100px;
    background-color: rgb(253, 80, 80);
    margin-top: 30px;
    padding: 6px;
    border-radius: 30px;
    font-weight: 700;
  }
  .album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .album .img2 {
    width: 100%;
    height: 250px;
  }
  .album .img1 {
    width: 100%;
    height: 250px;
  }
  .album .text {
    object-fit: cover;
  }
}

/* {} */
